@charset "UTF-8";

/* Typical Device Breakpoints 

-----------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  #burguer {
    display: none;
  }

  /*header {
    display: flex;
    flex-wrap: wrap;
  }*/

  header h1 {
    width: 38%;
    text-align: left;
  }

  header .limitador {
    display: flex;
    align-items: center;
  }

  #items {
    display: block;
    height: 100%;
    width: 60%;
  }

  #items li {
    display: inline;
  }

  #items > a {
    width: 35%;
    text-align: center;
    float: right;
    margin-left: 5px;
  }

  header > .limitador > nav > a:hover {
    background-color: transparent;
  }

  #sobre-a-loja > h1 {
    text-align: left;
    margin-bottom: 10px;
  }

  main img {
    width: 50%;
    float: left;
  }

  #descricao {
    display: block;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 10px;
    font-size: 1em;
  }

  #icones {
    display: block;
    margin-top: 10px;
    width: 100%;
    float: right;
  }

  #icones img {
    margin-right: 10px;
  }

  #nintendo-imagem {
    width: 80px;
  }

  #play-imagem {
    width: 35px;
  }

  #contato {
    margin-top: 400px;
  }
}